<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AngularJS-Tutorial</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="app">
        
        <div ng-controller="FirstController">
            Num1 = <input ng-model="num1">
            <div>
                Num1 = {{ num1 }}
            </div>
            
            <hr>

            Num2 = <input ng-model="num2">
            <div>
                Num2 = {{ num2 }}
            </div>

            <hr>

            Num3 = <input ng-model="num3">
            <div>
                Num3 = {{ num3 }}
            </div>

        </div>

    </body>
</html>