<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AngularJS-Tutorial</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="app">
        
        <div ng-controller="FirstController">
            <div ng-repeat="empDetails in empObject">
                <div>
                    {{ empDetails.emp_num }} - {{ empDetails.emp_name }}
                </div>
            </div>
            <button type="button" ng-click="addEmpObject()">Add</button>
            <button type="button" ng-click="modifyThirdEmployeeDetails()">Reset</button>
        </div>

    </body>
</html>